<% content_for(:js_css) do %>
  <%= stylesheet_link_tag 'post_shayari' %>
<% end %>

<%= form_for(@shayari) do |f| %>
	<div>
		<%= f.label :title %><span class='error'><%= @shayari.errors[:title].join(', ') %></span>
		<%= f.text_field :title, :size => 20 %>
			</div>
				<div id="float_left">
					<%= f.label :body, 'Post Your Shayari Here--' %><span class='error'><%= @shayari.errors[:body].join(', ') %></span><br />
					<%= f.text_area :body, :rows => 15, :cols => 50 %>
					
				</div>
				<div id="float_right">
					<span class='error'><%= @shayari.errors[:category].join(', ') %></span>
					<%= f.select :category, Shayari::CATEGORIES, :prompt => 'Select a Category--' %>
				</div><br/>
				<div>
					<%= f.submit 'Post' %>
				</div>
			</form>
<% end %>
