<h2>All Shayaris</h2>
<% content_for(:js_css) do %>
  <%= stylesheet_link_tag 'my_shayaris' %>
<% end %>
<div id='commentleft'>
	<% unless(@shayaris != []) %>
	  <p>No shayari posted in this category</p>
	<% else %>
	  <% @shayaris.each do |shayari|%>
	    <div>
	      <p><b>Title:&nbsp;&nbsp;</b><%= shayari.title %></p>
	      <p><b>Category:</b>&nbsp;&nbsp;<%= shayari.category %></p>
	      <div><b>Shayari:</b>&nbsp;<pre><%= truncate(shayari.body, :length => 30, :omission => "...") %></pre><p style="float:right">-<%= User.find_by_id(shayari.user_id).name.capitalize %>&nbsp;&nbsp;<%= link_to 'Show', shayari_path(shayari) %></p><hr/></div>  
			</div>
		<% end %>
	<% end %>
</div>
<div id='commentright'>
  <%= form_tag(shayaris_path, :method => :get) do %>
  <%= select_tag :category, options_for_select(Shayari::DISPLAY_CATEGORIES, params[:category]), {:onchange => "this.form.submit()"} %>
  <% end %>
</div><br/>
<p><%= will_paginate @shayaris %></p>
